<!-- <app-login></app-login> -->
<!-- <app-dashboard></app-dashboard> -->


<div style="margin: 5rem">
  <button mat-stroked-button color="primary" (click)="getPlayerData()">Player Data</button>
  <button mat-stroked-button color="primary" (click)="getMasteryData(true)">Player Total Mastery</button>
  <button mat-stroked-button color="primary" (click)="getMasteryData()">Player Mastery</button>
  <button mat-stroked-button color="primary" (click)="getLoLStatus()">Game Status</button>
  <!-- TODO interfaces pra tipar request e response -->
  <button mat-stroked-button color="primary" (click)="getLoLStatus()">Match by ID</button>
  <button mat-stroked-button color="primary" (click)="getLoLStatus()">Match timeline</button>
  <button mat-stroked-button color="primary" (click)="getLoLStatus()">Matches</button>
</div>